#titolo{
    text-align: center;
}

#paragrafo_1{
    text-align: justify;
    font-size: 30px;
}

body{
    margin: 2%;
}

*{
    line-height: 50px;
}

li.elenco{
    list-style-type: disc;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}

p.motivo{
    font-weight: bold;
    text-align: center;
    font-size: 30px;
}

span.motivo{
    font-style: italic;
    font-weight: normal;
    color: rgb(110, 109, 109);

    width: 100%;
}

div.firma_data{
    text-align: left;
    font-weight: bold;
    font-size: 30px;

    width: 100%;
}

div.data{
    margin-left: 15%;
    text-align: center;

    width: 30%;
}

div.firma{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 100%;
}

p.firma{
    width: 50%;
    text-align: center;
}

form{
    margin-left: 2%;
}

span{
    font-weight: normal;
}

h2{
    text-align: center;
}




