*{
	margin: 0%;
	font-family: 'Quicksand';
}

::selection   {
	background: none;
	color: none;
}

@font-face {
	font-family: 'Quicksand';
	src: local('ArmWrestler Bold'), url('font/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Chinese Rocks';
	src: local('ArmWrestler Bold'), url('font/chinese_rocks_rg.ttf') format('truetype');
}

body{
	background-color: rgb(198, 214, 214);
}

/* Logo e Spot */
#logo{
	width: 40%;
	height: auto;
}

#spot{
	text-align: center;
	margin-bottom: 1%;
}

span{
	font-style: oblique;
}

/* Barra di Navigazione */
ul.nav{
	
	top: 0;
	position: sticky;
	overflow: hidden;
	
	height: 40px;
    padding: 5px;
	padding-left: 10px;
	
	background-color: rgb(173, 187, 187);
	list-style-type: none;
}

li.nav{
	
	padding: 10px;
	padding-top: 13px;
	padding-bottom: 7px;
	
	margin-right: 3px;
	width: auto;
	height: 20px;
    
	
	float: left;
	display: inline-block;
    top: 0;
	
	
	text-align: center;
    font-size: 140%;
	border-radius: 4px;
}

li.nav:hover{
	
	background-color: rgb(97, 154, 156);
	
	padding-top: 7px;
	padding-bottom: 13px;
	
	transition: 0.45s;
	cursor: pointer;
}

li.nav:not(:hover){
	padding-top: 13px;
	padding-bottom: 7px;
	
	transition: 0.48s;
}

      /* Layout */
      
/* Base */
.base{
    display: flex;
    margin: 1%;

}

/* Colonna 1 */
.colonna1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 40%;
    margin-top: 0.5%;
}

/* Colonna 2 */
.colonna2{
    width: 50%;
    margin-top: 4%;

}

#saga{
    margin: 1%;
    font-style: italic;

}

#nome_romanzo{
    margin: 1%;
}

#scrittrice{
    margin: 1%;
}

#trama{
    margin: 1%;
    padding: 1%;

}

div.store{
    display: flex;
}

img.store{
    width: 3%;
    height: 3%;
    
    margin: 0.5%;
}

.autrice{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1%;
}

.biografia{
    width: 80%;
    margin: 1%;
}

/*recensioni*/
.recensioni{
    padding: 1%;
}

/* Diritti */
div.diritti{
	text-align: center;
	margin-bottom: 0px;
	
	background-color: rgba(128, 125, 125, 0.822);
}

p.diritti{
	padding: 10px;
	line-height: 25px;
}

p.logo_diritti{
	border: 1px solid black;
	padding: 0.5%;

	width: 30%;
	margin-left: 35%;
	margin-top: 1%;
}

@media screen and (max-width: 900px) {
	.base{
        display: flex;
        flex-direction: column;
        margin: 1%;
        text-align: center;
    
    }
    
    /* Colonna 1 */
    .colonna1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        width: 40%;
        margin-top: 0.5%;
        margin-left: 22%;
    }
    
    /* Colonna 2 */
    .colonna2{
        width: 50%;
        margin-top: 4%;
        margin-left: 20%;
    
    }
    
    #saga{
        margin: 1%;
        font-style: italic;
    
    }
    
    #nome_romanzo{
        margin: 1%;
    }
    
    #scrittrice{
        margin: 1%;
    }
    
    #trama{
        margin: 1%;
        padding: 1%;
    
    }
    
    div.store{
        display: flex;
    }
    
    img.store{
        width: 3%;
        height: 3%;
        
        margin: 0.5%;
    }
    
    .autrice{
        display: flex;
        align-items: center;
        justify-content: center;
    
        margin: 1%;
    }
    
    .biografia{
        width: 80%;
        margin: 1%;
    }
  }

