
body{
    margin: 3%;
}

.left {
    float: right;
    padding: 3%;
    padding-left: 2.5%;
    padding-right: 3%;
    margin-top: 1%;
    background-color: #1a60f8;
    color: white;
    width: 50%;
    border-radius: 20px;
    margin-left: 1%;
    box-shadow: 10px 10px 5px #082ed6;
    font-size: 125%;
    font-family: 'Karla ExtraLight';
}

.right {
    float: left;
    padding: 2%;
    padding-left: 2.5%;
    padding-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #210dbd;
    color: white;
    width: 50%;
    border-radius: 20px;
    margin-right: 1%;
    box-shadow: 10px 10px 5px rgb(134, 132, 132);
    font-size: 125%;
    font-family: 'Karla ExtraLight';
} 

.imgleft { 
    float: left;
    padding: 3%;
    padding-left: 2.5%;
    padding-right: 3%;
    margin-top: 1%;
    background-color: #1a60f8;
    color: white;
    width: 25%;
    border-radius: 20px;
    margin-left: 1%;
    box-shadow: 10px 10px 5px #082ed6;
    align-items: center;
    border-radius: 20px;
}

.imgright {
    float: right;
    padding: 2%;
    padding-left: 2.5%;
    padding-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #210dbd;
    color: white;
    width: 25%;
    border-radius: 20px;
    margin-right: 1%;
    box-shadow: 10px 10px 5px #110952;
    align-items: center;
} 

img{
    width: 70%;
    height: auto;
    
}